.Icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
    /* background-color: #CCC; */
  }
  
  .Icon-container-check  {
    background-color: #f0eeee91;
    color: #33e039; 
    padding: 10px;
    border:none;
    border-radius:50%;
  }
  .Icon-container-check:hover  {
    background-color: #33e039;
    color: #f5f5f5;
    border:none;
    padding: 10px;
    border-radius:50%;
    position: absolute;
    left: 12px;
  }
  .Icon-container-check-active {
    background-color: #33e039;
    color: #f5f5f5;
    border:none;
    padding: 10px;
    border-radius:50%;
    position: absolute;
    left: 12px;
  }
  .Icon-container-check-active:hover  {
    background-color: #f0eeee91;
    color: #33e039;
    padding: 10px;
    border:none;
    border-radius:50%;
  }
  .Icon-container-delete {
    background-color: #f5f5f5 ;
    color: red;
    border:none;
    padding: 10px;
    border-radius:50%;
    position: absolute;
    top: -24px;
    right: 0;
  }
  .Icon-container-delete:hover {
    background-color: red;
    color: #f5f5f5;
    padding: 10px;
    border:none;
    border-radius:50%;
  
  }

  .Icon-svg{
    margin-top: 2px;
    width: 28px;
    height: 24px;
  }

  .Icon-container-check:hover .Icon-svg {
    fill: #f5f5f5;
  }

  .Icon-container-check-active:hover .Icon-svg{
    fill: #33e039;
  }

  
  .Icon-container-delete:hover .Icon-svg {
    fill: #f5f5f5;
  }